a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
 
.cardstyling:hover{
    background-color: #e5fcef;
}
.fa-heart:hover{
    color:black

}
.fa-heart-o:hover{
    color:red

}
.fa-trash{
    color:gray
}
.fa-trash:hover{
    color:black
}